*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.webp
*.tif
*.tiff
*.heic
*.ico
*.svg
*.jpg
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.flv
*.wmv
*.mpeg
*.mpg
*.cr2
*.nef
*.arw
*.orf
*.rw2
*.raf
*.dng
*.db
.env
*.log
*.pid
*.pyc